
<!--set browser's default margins and padding to 0 on all HTML elements.-->
{padding: 0; margin: 0}

.btn {
  background-color: rgb(94, 142, 156);
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: 80px;
}
  
.btn:hover {
    background: white;
    color: rgb(94, 142, 156);
}
.jack {top: 110px;}
.travis {top: 170px;}
.eddie {top: 230px;}
.desai {top: 290px;}
